h1,h2,h3,h4,h5,h6,.ms-h1,.ms-h2,.ms-h3,.ms-h4,.ms-h5,.ms-h6
{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1,.ms-h1
{
font-family:"Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
font-size: 2.5rem;
color:#777;
font-weight:200;
}
h2,h3,.ms-h2,.ms-h3,.ms-headerFont
{
font-family:"Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
color:#262626;
font-weight:300;

}
h2,.ms-h2
{
    font-size: 2rem;
}
h3,.ms-h3
{
    font-size: 1.75rem;
}
h4,h5,h6,.ms-h4,.ms-h5,.ms-h6
{
font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
h4,.ms-h4
{
    font-size: 1.5rem;
color:#262626;
}
h5,.ms-h5
{
    font-size: 1.25rem;
}
h6,.ms-h6
{
    font-size: 1rem;
}